services:
  magic:
    image: mageai/mageai:latest
    command: mage start mlops_demo
    environment:
      PROJECT_NAME: mlops_demo
      ENV: dev
    ports:
      - 6789:6789
    volumes:
      - .:/home/src/
    restart: on-failure:5